@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --onWhite1: #323232;
  --onWhite2: #b9b9b9;
  --surface1: #f7f7f7;
  --accent: #d1edfb;
  --accent2: #aedffb;
  --error: #ff0000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.debug * {
  outline: 1px solid red;
}
